body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  padding: 10px;
}

.container {
  max-width: 400px;
  margin: auto;
}

h1 {
  text-align: center;
}

.card {
  background: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

button {
  flex: 1;
  padding: 10px;
  border: none;
  background: #5b3cc4;
  color: white;
  border-radius: 8px;
}

.gerar {
  margin-top: 15px;
  width: 100%;
  background: green;
}

.result-item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}